.dashboard-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    position: relative;

    background-color: rgb(18, 18, 18);
    color: white;
}

.window {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.wh-100 {
    width: 100%;
    height: 100%;
}

.flex-btwn {
    display: flex;
    flex-direction: column;
}

.window::-webkit-scrollbar {
    width: .75em;
}

.window::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.window::-webkit-scrollbar-thumb {
    background-color: rgb(87, 87, 87);
    outline: 1px solid rgb(3, 14, 29);
}

.window::-webkit-scrollbar-thumb:hover {
    background-color: rgb(135, 135, 135);
}

.window::-webkit-scrollbar-thumb:active {
    background-color: rgb(183, 183, 183);
}