.flex-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.m-10 {
    margin: 10px;
}

.selected-hover:hover {
    background-color: rgb(42, 42, 42);
}

.artist-color {
    color: rgb(167, 167, 167);
}